.navbar-form input {
  border-radius: 25px;
  border-right: 0;
}

.navbar-form button,
.navbar-form button:hover {
  background-color: transparent;
  border: 1px solid rgb(204, 204, 204);
  border-left: 0 !important;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  padding-right: 14px;
}
