.transition-logo-on-scroll {
  .navbar {
    .navbar-brand {
      position: relative;
      text-align: center;
      transition: margin-left .2s ease, margin-right .2s ease, padding-left .2s ease, padding-right .2s ease, width .2s ease, left .2s ease;
    }

    &.scrolled {
      .navbar-brand {
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        width: 68px;
      }
    }

    &:not(.scrolled) {
      .navbar-brand {
        left: -100px;
        padding-left: 0;
        padding-right: 0;
        width: 0;
      }
    }
  }
}

.navbar {
  background-color: #fff;
  border-bottom: 0;
  padding: 8px 0;
  transition: box-shadow .2s;

  &.scrolled {
    box-shadow: 0 0 8px #555;
  }

  a {
    text-decoration: none;
  }

  form {
    input {
      box-shadow: none;
    }

    .btn,
    .btn:hover {
      box-shadow: none;
      color: #acacac;
    }
  }

  .navbar-brand {
    skate {
      background-color: #333;
      font-size: 8px;
      margin-left: 0;
      margin-top: -10px;
      padding-left: 0;
      &:hover { background-color: #555; }
    }
  }
}

.navbar-default {
  .navbar-brand,
  .navbar-nav > li > a {
    color: #205081;
    &:hover { color: #3572b0; }
  }
}

.navbar-right {
  margin-right: 16px;
  &:last-of-type {
    margin-right: 0;
    padding-right: 0;
  }
}
