.navbar {
  background-color: #fff;
  border-bottom: 0;
  padding: 8px 0;
  transition: box-shadow .2s;
}

.navbar li {
  font-size: 1.2em;
  font-weight: 200;
}

.navbar.scrolled {
  box-shadow: 0 0 8px #555;
}

.navbar-brand skate {
  font-size: 8px;
  margin-left: 0;
  margin-top: -10px;
  padding-left: 0;
}

.navbar-brand skate {
  background-color: #333;
  &:hover { background-color: #555; }
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #205081;
  &:hover { color: #3572b0; }
}

.navbar-right {
  margin-right: 16px;
}

.navbar-right:last-of-type {
  margin-right: 0;
  padding-right: 0;
}
