{
  "rules": {
    "indent": [2, 2],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "no-unused-vars": [2, {"argsIgnorePattern": "^React$"}]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "plugins": [
    "react"
  ],
  "extends": "eslint:recommended",
  "globals": {
    "afterEach": true,
    "assert": true,
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "it": true
  }
}
