@import '../../bower_components/bootstrap/less/bootstrap';
@icon-font-path: '../../bower_components/bootstrap/fonts/';

body {
  color: #555;
}

h2, h3, h4, h5, h4 {
  color: #64281d;
}

a {
  color: #993d2c;

  &:hover {
    color: #c14d37;
  }

  &.external {
    border-bottom: 1px dotted #993d2c;

    &:hover {
      text-decoration: none;
      border-bottom-color: #c14d37;
    }
  }
}

pre {
  background-color: #333;
  border-width: 0;
  box-shadow: inset 0 0 200px rgba(0, 0, 0, .35);
  color: #ddd;
}

header.navbar {
  margin: 0;

  li a:hover {
    background-color: #fdf9f8;
  }
}

header.main {
  background-color: #c14d37;
  box-shadow: inset 0 0 200px rgba(0, 0, 0, .15);
  color: #eecac3;
  padding: 75px;

  a.external {
    border-bottom: none;
  }

  h1 {
    font-size: 6rem;
    margin-top: 0;
  }

  p {
    font-size: 2rem;
    margin-bottom: 0;
  }
}

footer {
  background-color: #c14d37;
  box-shadow: inset 0 0 200px rgba(0, 0, 0, .15);
  color: #de988b;
  font-size: 1rem;
  font-style: italic;
  padding: 25px;
  text-align: center;

  a, a:hover, a.external, a.external:hover {
    border-color: #de988b;
    color: #de988b;
  }
}

.code-line-number {
  border-right: 1px solid #555;
  color: #555;
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  text-align: right;
  width: 35px;
}