@import '../../../bower_components/bootstrap/less/bootstrap';
@import 'skate';

body {
  font-family: Helvetica;
}

code {
  background-color: #bee0f3;
  border-radius: 0;
  padding: 3px 6px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 30px;
  color: #0e374f;
}

h1 {
  margin: 20px auto;
  text-align: center;
}

h2 {
  margin-top: 50px;
}

img[alt="Build Status"] {
  display: block;
  margin: 20px auto;
}

pre {
  background-color: #f7fbfe;
  border: 2px solid #daedf8;
  border-radius: 0;
  color: #0e374f;
}

skate {
  margin: 20px auto;
}
