@import '../../../node_modules/bootstrap/less/bootstrap';
@import 'skate';

a,
a:hover {
  color: #d04437;
}

body {
  color: #333;
  font-family: Helvetica;
}

code {
  background-color: #ebf2f9;
  border-radius: 0;
  color: #205081;
  padding: 3px 6px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 30px;
  color: #205081;
}

h1 {
  margin: 20px auto;
  text-align: center;
}

h2 {
  margin-top: 50px;
}

img[alt="Build Status"] {
  display: block;
  margin: 20px auto;
}

pre {
  background-color: #f5f5f5;
  border: 0;
  border-radius: 0;
  color: #205081;
}

skate {
  margin: 20px auto;
}
