a,
a:hover {
  color: #4a6785;
}

body {
  color: #333;
  font-family: Helvetica;
  padding-top: 70px;
}

h2 {
  border-bottom: 1px solid #ddd;
  margin-top: 50px;
  padding-bottom: 5px;
}

img[alt="Build Status"] {
  display: block;
  margin: 20px auto;
}

pre {
  border: 0;
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #205081;
}

.container-fluid {
  padding: 5px 30px;
}

.jumbotron {
  background-color: #fff;
  padding: 0 0 20px 0;
}

.jumbotron {
  background-color: #fff;
}

.jumbotron skate {
  background-color: #333333;
  font-size: 3.1rem;
  margin: 30px auto;
}

.jumbotron .row > div {
  margin-top: 20px;
}

.well {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
}

.well-loud {
  background-color: #f15c75;
}

.well-loud .btn {
  border: 0;
  font-size: 1.4em;
  font-weight: 200;
  margin: 10px;
}

.well-loud .btn:hover {
  background-color: #FDECEF;
}

.well-overview {
  background-color: #333333;
  color: #f5f5f5;
}

.well-overview h3 {
  font-weight: 200;
}

.well-overview pre {
  background-color: #555;
  color: #f5f5f5;
  min-height: 120px;
}

.well-general {
  background-color: #f5f5f5;
}

@media (max-width: 991px) {
  .jumbotron h1 {
    text-align: center;
  }

  .jumbotron skate {
    display: block;
    margin: auto;
  }
}
